@media screen and (min-width: 820px) {
    header, main, footer {
        max-width: 1920px;
        margin: 0 auto;
    }

    h1 {
        left: 48%;
    }
    main {
        height: 100vh;
    }
    picture img {
        width: 100%;
        height: 100%;
        position: relative;
        border: none;
        border-radius: 0;
        object-fit: cover;
        display: block;
        
    }
    .data-country, .data-weather {
        position: absolute;
        background-color: rgb(245, 245, 220, .8);
        border: 4px solid green;
        padding: 7rem 1rem 1rem;
        font-size: clamp(10px, 2vw, 18px);
    }
    .data-country {
        top: 35%;
        left: 5%;
        width: 25rem;
        
    }
    .data-weather {
        width: 25rem;
        top: 65%;
        right: 5%; 
    }
    .data-country h2, .data-weather h2 {
        position: absolute;
        background-color: green;
        box-shadow: 8px 8px #3506f1b4;
        color: #fff;
        z-index: 2;
    }
    .data-country h2 {
        width: 25rem;
        height: auto;
        top: 33%;
        top: -1rem;
        right: -25px;
        padding-left: 20rem;
        text-align: right;
        transform-origin: right center;
    }
    .data-weather h2 {
        width: 20rem;
        height: auto;
        top: -1rem;
        left: -35px;
        padding-left: 2rem;
        text-align: left;
        
    }
    .data-weather h2::after {
        content: "🌧️";
        padding-left: 5px;
    }
   
    .label {
    margin-left: 2.5rem;
    }
    .weather-icon {
        display: none;
    }
    footer {
       margin-top: 5px;
    }

}